{% extends 'base.html.twig'%}
{% block title %} Error  {% endblock %}
{% block body %}
    <div id="dialog">
    <h2>Oop's Something Went Wrong</h2>
    <p>{{ message }}</p>
  <a href="/{{ nav_route }}">OK</a>
</div>

<script>
    $(function() {
        $( "#dialog" ).dialog({
            autoOpen: false
        });
        $( "#dialog" ).dialog( "open" );

        $( "#close_btn" ).click(function() {
            $( "#dialog" ).dialog( "close" );
        });

    });
</script>

{% endblock %}
